<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-code-update" version="0.0.1">
	<name>Downloader</name>
	<author>k1dbl4ck@gmail.com</author>
	<description>Downloads files to persistant Storage on your Phone, checks md5sum if you want, unzips packed files if necassary (For Android and iOS)</description>
	<license>MIT</license>
	<keywords>file,download,checksum,md5,unzip</keywords>
	<repo>https://github.com/k1dbl4ck/cordova-plugin-code-update.git</repo>
	<issue>https://github.com/k1dbl4ck/cordova-plugin-code-update/issues</issue>
	<dependency id="cordova-plugin-file" version="5.0.0" />
	<dependency id="cordova-plugin-file-transfer" version=">=1.6.3" />
	<dependency id="cordova-plugin-network-information" version="2.0.1" />
	<dependency id="cordova-plugin-zip" version="3.1.0" />

	<js-module src="www/downloader.min.js" name="downloader">
		<clobbers target="downloader" />
	</js-module>
</plugin>
